@inject AuthenticationStateProvider AuthenticationStateProvider
@using Frontend.Data;
<nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-dark-grey">
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link btn btn-light waves-effect waves-light text-dark px-4"
                   href="/">Back <span class="sr-only">(current)</span></a>
            </li>
            <p class="h3 text-white ml-2 pt-2" href="/">MARATHON SKILLS 2015</p>
        </ul>
    </div>
    <AuthorizeView>
        <Authorized>
            <div class="form-inline">
                <a class="nav-link btn btn-light waves-effect waves-light text-dark px-4"
                   href="/" @onclick="Logout">Logout</a>
            </div>
        </Authorized>
    </AuthorizeView>
</nav>

@code {
    public void Logout()
    {
        ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsLoggedOut();
    }
}