@page "/checkrunner"
@inject IJSRuntime JSRuntime
<Header />
<!-- Main Container -->
<section>
    <div class="d-flex justify-content-center align-items-center flex-column bg-white"
         style="min-height: 70vh;">
        <div class="container col-12 text-center">

            <a type="button" class="btn btn-lg col-sm-12 col-md-8 col-lg-6 col-xl-3 btn-light my-3"
               href="loginscreen">I have competited before</a>
            <br />
            <a type="button" class="btn btn-lg col-sm-12 col-md-8 col-lg-6 col-xl-3 btn-light my-3"
               href="register">I am a new competitor</a>
            <br />
        </div>
    </div>
</section>
<!-- /Main Container -->


@code {
    protected override async Task OnInitializedAsync()
    {
        await JSRuntime.InvokeVoidAsync("setTitle", "Check Runner");
    }
}
