@page "/checkrunner"

<Header />
<!-- Main Container -->
<section>
    <div class="d-flex justify-content-center align-items-center flex-column bg-white"
         style="min-height: 70vh;">
        <div class="container col-12 text-center">
            <a type="button" class="btn btn-lg col-sm-12 col-md-8 col-lg-6 col-xl-3 btn-light my-3"
               href="CheckRunner.html">I have competited before</a>
            <br />
            <a type="button" class="btn btn-lg col-sm-12 col-md-8 col-lg-6 col-xl-3 btn-light my-3"
               href="RegisterRunner.html">I am a new competitor</a>
            <br />
        </div>
        <div class="container col-sm-12 col-md-12 col-lg-10 col-xl-5 mt-5">
            <a type="button" class="btn col-sm-5 col-md-3 col-lg-3 col-xl-3 btn-light my-3 float-right"
               href="LoginScreen.html">Login</a>
        </div>
    </div>
</section>
<!-- /Main Container -->


@code {

}
