@page "/findoutmore"
@inject IJSRuntime JSRuntime
<Header />
<!-- Main Container -->
<main>
    <div class="justify-content-center align-items-center bg-white">
        <div class="container-fluid">
            <h2 class="text-center font-weight-normal dark-grey my-5">Find out more information</h2>
            <div class="row mt-3">
                <div class="col-sm-0 col-md-0 col-lg-2 col-xl-3"></div>
                <div class="container col-sm-12 col-md-12 col-lg-4 col-xl-3 text-center">
                    <a href="aboutmarathonskills" class="btn btn-lg btn-light btn-block my-2 py-4">
                        Marathon Skills
                        2015
                    </a>

                    <a type="button" class="btn btn-lg btn-light btn-block my-2 py-4"
                       href="SponsorRunner.html">
                        Previous
                        race results
                    </a>

                    <button type="button" class="btn btn-lg btn-light btn-block my-2 py-4">
                        BMI
                        calculator
                    </button>

                </div>
                <div class="container col-sm-12 col-md-12 col-lg-4 col-xl-3 text-center">
                    <a href="howlongisamarathon" class="btn btn-lg btn-light btn-block my-2 py-4">
                        How long is a
                        marathon?
                    </a>

                    <a type="button" class="btn btn-lg btn-light btn-block my-2 py-4"
                       href="listofcharities">
                        List of
                        charities
                    </a>

                    <button type="button" class="btn btn-lg btn-light btn-block my-2 py-4">
                        BMR
                        calculator
                    </button>

                </div>
                <div class="col-sm-0 col-md-0 col-lg-2 col-xl-3"></div>
            </div>
        </div>
    </div>
</main>

@code {
    protected override async Task OnInitializedAsync()
    {
        await JSRuntime.InvokeVoidAsync("setTitle", "Find out more");
    }
}
