@page "/"
<!-- Header -->
<section class="bg-dark-grey" style="min-height: 15vh; flex:1;">
    <h1 class="text-center font-weight-bold text-white pt-3 mb-4">MARATHON SKILLS 2015</h1>
    <p class="h4 text-center font-weight-normal font-italic mid-grey">Sao Paulo, Brazil</p>
    <p class="h4 text-center font-weight-normal font-italic mid-grey pb-4">Monday March 16 2020</p>
</section>
<!-- /Header -->
<!-- Main Container -->
<section>
    <div class="bg-white my-auto">
        <div class="container col-12 text-center mt-5">
            <a type="button" class="btn btn-lg col-sm-12 col-md-8 col-lg-6 col-xl-3 btn-light my-3"
               href="checkrunner">
                I want to be a
                runne
            </a>
            <br />
            <a type="button" class="btn btn-lg col-sm-12 col-md-8 col-lg-6 col-xl-3 btn-light my-3"
               href="sponsorrunner">
                I want to sponsor a
                runner
            </a>
            <br />
            <a type="button" class="btn btn-lg col-sm-12 col-md-8 col-lg-6 col-xl-3 btn-light my-3"
               href="findoutmore">I want to find out more</a>
            <br />
        </div>
        <div class="container col-sm-12 col-md-12 col-lg-10 col-xl-5 mt-5">
            <a type="button" class="btn col-sm-5 col-md-3 col-lg-3 col-xl-3 btn-light my-3 float-right"
               href="loginscreen">Login</a>
        </div>
    </div>
</section>

<!-- /Main Container -->