@page "/listofcharities"
@using Frontend.ViewModels;
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using Microsoft.Extensions.Options;
@using Frontend.Data;
@inject IOptions<BackendDomain> config
@inject IJSRuntime JSRuntime

<Header UrlBack="findoutmore"/>

<!-- Main Container -->
<main class="bg-white">
    <div class="container-fluid">
        <h2 class="text-center font-weight-normal dark-grey my-4">List of charities</h2>
        <p class="h5 font-weight-normal text-center my-4">
            This is a list of all the charities taht are being
            supported through Marathon
            Skills 2015. Thank you for helping to support them by sponsoring runners!
        </p>
    </div>
    @foreach (var charity in Charities)
    {
        <!-- Charity Organization -->
        <div class="container mb-4">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 text-center">
                    <img src="@string.Format("{0}{1}", NavigationManager.BaseUri, $"img/charity/{charity.CharityLogo}")" alt="" style="width: 150px;" />
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9 col-xl-9">
                    <p class="h2 font-weight-normal">@charity.CharityName</p>
                    <span>
                    @foreach (var pText in charity.CharityDescription.Split('\n'))
                    {
                        <p>@pText</p>
                    }
                    </span>
                </div>
            </div>
        </div>
        <!-- /Charity Organization -->
    }
</main>
<!-- /Main Container -->

@code {
    public List<Charity> Charities { get; set; } = new List<Charity>();

    protected override async Task OnInitializedAsync()
    {
        await JSRuntime.InvokeVoidAsync("setTitle", "List of charities");
        Charities = await Http.GetJsonAsync<List<Charity>>($"{config.Value.Domain}/api/Charities/");
    }
}
