@page "/sponsorrunner"

<!-- Modal -->
<div class="modal fade top" id="exampleModalPreview" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalPreviewLabel" aria-hidden="true" data-backdrop='false'>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header pb-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-0">
                <p class="h5 text-center font-weight-normal">Heart Health São Paulo</p>
                <div class="text-center">
                    <img src="../img/charity/heart-health-sao-paulo-logo.png" class="rounded my-4"
                         alt="Charity Organization logo" style="width: 200px;">
                </div>
                <div class="container col-10">
                    <p>
                        For over 50 years, Heart Health São Paulo has been dedicated to saving lives by
                        making a difference to the heart health of our people.
                    </p>
                    <p>
                        Donations help us fund
                        valuable research, develop guidelines for health professionals,
                        support patient care
                        and help Paulistas to live healthier lifestyles.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<!-- Header -->
<nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-dark-grey">

    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link btn btn-light waves-effect waves-light text-dark px-4"
                   href="/">Back <span class="sr-only">(current)</span></a>
            </li>
            <!--<a class="h3 text-white ml-2 pt-2" href="/">MARATHON SKILLS 2015</a>-->
        </ul>
        <a class="h3 text-white ml-2 pt-2" href="/">MARATHON SKILLS 2015</a>
    </div>
</nav>
<!-- /Header -->
<!-- Main Container -->
<main>
    <div class="justify-content-center align-items-center bg-white">
        <div class="container-fluid">
            <div class="container text-center col-xl-10 col-md-8 col-lg-8 col-xl-8">
                <h1 class="text-center font-weight-normal dark-grey mt-3">Sponsor a runner</h1>
                <p class="h5 font-weight-normal text-center">
                    Please choose the runner you would like to
                    sponsor and the amount you would like to
                    sponsor them for. Thank you for your support of the runners and their charities!
                </p>
            </div>
            <div class="row">
                <!-- Buffer column -->
                <div class="col-sm-0 col-md-1 col-lg-2 col-xl-2"></div>
                <div class="col-sm-12 col-md-10 col-lg-8 col-xl-8">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 text-center">
                            <p class="h4 mid-grey">Sponsorship details</p>
                            <form action="">
                                <!-- Name -->
                                <div class="md-form input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text md-addon">Your Name: </span>
                                    </div>
                                    <input type="text" aria-label="First name" class="form-control"
                                           placeholder="Your Name">
                                </div>
                                <!-- Runner -->
                                <div class="md-form input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text md-addon">Runner: </span>
                                    </div>
                                    <select class="mdb-select md-form col-lg-9 col-xl-10 my-0"
                                            searchable="Search here..">
                                        <option value="" disabled selected>Choose your country</option>
                                        <option value="1">USA</option>
                                        <option value="2">Germany</option>
                                        <option value="3">France</option>
                                        <option value="3">Poland</option>
                                        <option value="3">Japan</option>
                                    </select>
                                </div>
                                <!-- Name on Card -->
                                <div class="md-form input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text md-addon">Name on Card: </span>
                                    </div>
                                    <input type="text" aria-label="First name" class="form-control"
                                           placeholder="Credit card holder">
                                </div>
                                <!-- Credit Card # -->
                                <div class="md-form input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text md-addon">Credit Card #: </span>
                                    </div>
                                    <input type="text" aria-label="First name" class="form-control"
                                           placeholder="1234 1234 1234 1234">
                                </div>
                                <!-- Name on Card -->
                                <div class="md-form input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text md-addon">Expiry Date: </span>
                                    </div>
                                    <input type="text" aria-label="First name"
                                           class="form-control col-2 mr-2 my-0" placeholder="01">
                                    <input type="text" aria-label="First name col-1  my-0" class="form-control"
                                           placeholder="2017">
                                </div>
                                <!-- CVC -->
                                <div class="md-form input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text md-addon">CVC: </span>
                                    </div>
                                    <input type="text" aria-label="First name"
                                           class="form-control col-2 mr-2 my-0" placeholder="123">
                                </div>
                            </form>
                        </div>
                        <!-- Buffer column -->
                        <div class="col-sm-0 col-md-0 col-lg-3 col-xl-3"></div>
                        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-center">
                            <p class="h4 mid-grey">Charity</p>
                            <p class="h5 mid-grey font-weight-light text-dark">
                                Save The Cats Fund
                                <!-- Button trigger modal -->
                                <button id="modalActivate" type="button" class="btn btn-sm btn-flat px-1"
                                        data-toggle="modal" data-target="#exampleModalPreview">
                                    <i class="fas fa-2x fa-info-circle"></i>
                                </button>
                            </p>
                            <p class="h4 mid-grey mt-4">Amount to donate</p>
                            <h2 class="display-3 font-weight-bold mid-grey">$50</h2>
                            <div class="container row justify-content-center mx-0">
                                <button type="button" class="btn btn-sm btn-outline-grey px-3 pt-1 mt-0">
                                    <i class="fas fa-minus color-black"></i>
                                </button>
                                <input class="form-control w-25 align-bottom" type="text">
                                <button type="button" class="btn btn-sm btn-outline-grey px-3 pt-0 mt-0">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                            <div class="container justify-content-center row mx-0">
                                <a type="button" class="btn btn-md btn-light"
                                   href="SponsorshipConfirmation.html">Pay now</a>
                                <a type="button" class="btn btn-md btn-light" href="MainScreen.html">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Buffer column -->
                <div class="col-sm-0 col-md-1 col-lg-2 col-xl-2"></div>
            </div>
        </div>
    </div>
</main>
<!-- /Main Container -->

@code {

}
