@inherits LayoutComponentBase

<div class="container-fluid px-0">

    @Body

    <footer class="page-footer bg-dark-grey mt-4">
        <p class="h4 text-white text-center py-3 mb-0">
            @interval.Days days @interval.Hours hours and @interval.Minutes minutes until the race starts!
        </p>
        <button @onclick="UpdateTime"> Update</button>
    </footer>
</div>

@code {
    private TimeSpan interval;
    private DateTime sourceDate = new DateTime(2015, 5, 9, 6, 0, 0);


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await UpdateTime();
        }
    }



    public async Task UpdateTime()
    {
        while (true)
        {
            interval = DateTime.Now - sourceDate;
            StateHasChanged();
            await Task.Delay(TimeSpan.FromSeconds(1));
        }
    }
}